body {
    background-color: #eae7dc ;
    font-family: Arial, Helvetica, sans-serif;
}

Header {
    padding: 20px 35px;
    background-color: #eae7dc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    color: #494846;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #494846;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 1px solid #494846;
    margin: 10px;
}

header nav ul li a:hover {
    background-color: #e98074;
}

.hero {
    background-image: url("./images/eddy-lee-TQ4dMvpA6XM-unsplash\ \(1\).jpg");
    background-size: cover;
    padding: 50px 40px 50px 20px;
}

.hero-img {
    display: inline-flex;
}

.hero-img img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    border: 4px solid #eae7dc;
}

.hero-text {
    display: inline-flex;
    float: right;
}

.hero h2 {
    font-size: 30px;
    text-align: right;
    color: #494846;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
    margin-top: 90%;
    margin-right: 20px;
}

section {
    color: #494846;
}

.section-row {
    padding:50px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    text-align: right;
    padding-right: 10px;
    border-right: 4px solid #e98074;
    width: 15%;
}

.section-body {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    flex: 2 70%;
    padding-left: 15px;
}

.section-body p {
    margin-top: 0;
}

.flex-row h2 {
    font-size: 32px;
    text-align: right;
    margin-top: 0;
}

/**Grid Styles Begin**/
.grid-wrapper {
    display: flex;
    justify-content: left;
    padding-left: 15px;
    width: 75%;
}

.grid-container {
    background: #eae7dc;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    color: #e98074;
    font-size: 2rem;
    height: 500px;
}

.grid-item {
    padding: 15px 0;
    border: 3px solid #e98074;
    display: flex;
    text-align: left;
    margin: 15px;
}

.grid-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: linear-gradient(
        rgba(233, 128, 116, 0.3), 
        rgba(233, 128, 116, 0.3)
      ), url(./images/run-buddy-screen.png);
    background-size: cover;
}

.grid-1:hover {
    background: url(./images/run-buddy-screen.png);
    background-size: cover;
    transition: .3s;
}

.grid-2 {
    background: linear-gradient(
        rgba(233, 128, 116, 0.3), 
        rgba(233, 128, 116, 0.3)
      ), url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover; 
}

.grid-2:hover {
    background: url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover;
    transition: .3s;
}

.grid-3 {
    background: linear-gradient(
        rgba(233, 128, 116, 0.3), 
        rgba(233, 128, 116, 0.3)
      ), url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover; 
}

.grid-3:hover {
    background: url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover;
    transition: .3s;
}

.grid-4 {
    background: linear-gradient(
        rgba(233, 128, 116, 0.3), 
        rgba(233, 128, 116, 0.3)
      ), url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover; 
}

.grid-4:hover {
    background: url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover;
    transition: .3s;
}

.grid-5 {
    background: linear-gradient(
        rgba(233, 128, 116, 0.3), 
        rgba(233, 128, 116, 0.3)
      ), url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover; 
}

.grid-5:hover {
    background: url(./images/marcel-strauss-moc3hdtx8qA-unsplash.jpg);
    background-size: cover;
    transition: .3s;
}

.grid-title {
    background-color: #e98074;
    color: #494846;
    margin-top: auto;
    padding-right: 6px;
}

.grid-item h2 {
    font-size: 20px;
    display: inline;
}

.grid-item h3 {
    font-size: 10px;
}

/**Grid styles End**/

.contact-body {
    width:75%;
    display: inherit;
    list-style: none;
}

.contact-body ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.contact-body li {
    padding: 30px;
}

.contact-body li a {
    text-decoration: none;
    color: #e98074;
    border-bottom: 1px solid #494846;
    padding-bottom: 3px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 600px) {
    header nav ul li a {
        font-size: 30px;
        flex: 1 100%;
    }
}