body {
    background-color: #eae7dc ;
    font-family: Arial, Helvetica, sans-serif;
}

Header {
    padding: 20px 35px;
    background-color: #eae7dc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    color: #494846;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #494846;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 1px solid #494846;
    margin: 10px;
}

.hero {
    background-image: url("./images/beniamin-sinca-nY0TrQMmR28-unsplash.jpg");
    background-size: cover;
    padding: 150px 20px;
}

.hero h2 {
    text-align: right;
    color: #494846;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

section {
    color: #494846;
}

.section-row {
    padding:50px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    text-align: right;
    padding-right: 10px;
    border-right: 4px solid #e98074;
    width: 15%;
}

.section-body {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    flex: 2 70%;
    padding-left: 15px;
}

.section-body p {
    margin-top: 0;
}

.flex-row h2 {
    font-size: 32px;
    text-align: right;
    margin-top: 0;
}

/**Grid Styles Begin**/
.grid-wrapper {
    display: flex;
    justify-content: left;
    padding-left: 15px;
    width: 75%;
}

.grid-container {
    background: #eae7dc;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    color: #e85a4f;
    font-size: 2rem;
    justify-items: start | end | center | stretch;
}

.grid-item {
    padding: 15px 0;
    border: 3px solid #e85a4f;
    display: flex;
    text-align: left;
    margin: 15px;
}

.grid-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url(./images/run-buddy-screen.png);
    background-size: cover;
}

.grid-item h2 {
    font-size: 25px;
    background-color: #e85a4f;
    color: #494846;
    display: inline;
}

/**Grid styles End**/

.contact-body {
    width:75%;
}

.contact-body ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.contact-body ul li a {
    text-decoration: none;
}